.details-container {
    padding: 20px;
    border-radius: 6px;
}
.detail-item:hover {
    background-color: rgba(91, 91, 91, 0.1);
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.arrow-item{
    padding-top: 10px;
}
.arrow-item svg:hover{
    cursor: pointer;
}